
@{
    ViewData["Title"] = "Profile";
}
@{
    string fullName = "Abdullah Nabil Lotfy";
    string email = "abdullah@gmail.com";
    string phone = "01017689277";
    string mobile = "298702";
    string address = "Menoufia Shibin elkom";
    List<string> hobbies = new List<string> { "football", "Reading", "Playing" };
}
<html>
    
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        img{
            border-radius: 50%; 
        }
         aside{
             width:400px;
         }

         section p {
             padding-left: 100px;
         }
       
    </style>
    </head>
    <body>
        
        <div>
            <h5 class="w-100">Home / User / User Profile</h5>
        </div>

        <div class="d-flex justify-content-space-between">

        <aside class="card text-center  border-2 rounded p-5">
            <img height="200" src="https://www.w3schools.com/howto/img_avatar.png" />
            <h3>Abdullah Nabil</h3>
            <p>Full Stack Developer</p>
            <p>Menoufia Shbin</p>
            <div class="d-flex m-auto b-2">
                <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button>
            </div>
        </aside>

        <section class="d-flex border-2 card ms-3 w-75">

            <div class="d-flex border-bottom m-2">
                <label ><b>Full Name:</b> </label>
                <p > @fullName</p>
            </div>
            <div class="d-flex border-bottom m-2">
                <label><b>Email:</b> </label>
                <p> @email</p>
            </div>
            <div class="d-flex border-bottom m-2">
                <label><b>Phone:</b> </label>
                <p> @phone</p>
            </div>
            <div class="d-flex border-bottom m-2">
                <label><b>Mobile:</b> </label>
                <p> @mobile</p>
            </div>
            <div class="d-flex border-bottom m-2">
                <label><b>Address:</b> </label>
                <p> @address</p>
            </div>
            <button class="btn btn-success ms-0">Edit</button>
        </section>
    </div>
    <br />
    <div>
        <label>
            <b>Hobbies </b>
        </label>
        <ul>
            @foreach (var hobby in hobbies){
                <li>@hobby</li>
            }
        </ul>
    </div>
    </body>
</html>

