
@{
    int x = 1; 
}



@if (@TempData["AddNotification"] is not null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AddNotification"]
    </div>
}

@if(TempData["DeleteNotification"] is not null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["DeleteNotification"]
    </div>
}

@if(@TempData["EditNotification"] is not null){
    <div class="alert alert-info" role="alert">
        @TempData["EditNotification"]
    </div>
}


<a asp-controller="User" asp-action="AddUser"><button class="btn btn-outline-success">Add User</button></a>
<br/>
<br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Handle</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row">@(x++)</th>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>@user.Email</td>
                <td>
                    <a href="/user/details/@user.Id"><button class="btn btn-outline-primary">Details</button></a>
                    <a href="/user/DeleteUser/@user.Id"><button class="btn btn-danger">Delete</button></a>
                    <a href="/user/Edit/@user.Id"><button class="btn btn-outline-secondary">Edit</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>